# 50-baker.rules

ACTION=="add", SUBSYSTEM=="hidraw", ENV{DEVNAME}!="", GOTO="step2"
GOTO="end"

LABEL="step2"
# XK-4
ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0467|0469", GOTO="step3"
# XK-8
ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="046a|046c", GOTO="step3"
# XK-12 Jog & Shuttle
ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0426|0428", GOTO="step3"
# XK-16
ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0419|041b", GOTO="step3"
# XK-24
ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0403|0405", GOTO="step3"
# XKR-32
ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04ff|0502", GOTO="step3"
# XK-60
ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0461|0463", GOTO="step3"
# XK-68 Jog & Shuttle
ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="045a|045c", GOTO="step3"
# XK-80
ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="0441|0443", GOTO="step3"
# XKE-128
ATTRS{idVendor}=="05f3", ATTRS{idProduct}=="04cb|04ce", GOTO="step3"
GOTO="end"

LABEL="step3"
ATTRS{bInterfaceNumber}=="00", TAG+="systemd", ENV{SYSTEMD_WANTS}="baker@$env{DEVNAME}.service"

LABEL="end"